/**
 * 我们快完成了。
 */

 pre:hover {
  box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
}

#skip-animation, #pause-resume {
  display: none;
}

/**
* 希望你喜欢这个。
*
* 感谢Jake Albaugh，他是我所知道的第一个做这样页面的人
* 一些自动打字和语法高亮的代码是基于他的工作。
*
* 查看Jake的更多作品：http://codepen.io/jakealbaugh/
*/

/**
* 顺便说一下，你可以编辑这个框。试着添加新的CSS！
*
* 例如，
*
* 属性'text-shadow'接受以下参数：
* 'x', 'y', 'blur', 'color'。
*
* 所以如果我想镜像这些值，
* 我可以在下面放一个15px的阴影，
* 并加一点模糊效果：
*/

.value {
 text-shadow: 0px 15px 1px white;
}

/**
* 感谢 Samuel Reed，这个页面是Samuel Reed的开源项目Strml.net(https://github.com/STRML/strml.net)
*/
