/**
 * 左边的Markdown看起来不太好。让我们渲染一下。
 */

 #work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 好的。我们准备好了。
 *
 * 3...
 * 2...
 * 1...
 *
 * .
 * ....骗你了。
 *
 * 好吧，我们开始吧！
 *
 */
